.container {
    background-color: #340f6b;
    color: #fff;
}

.poster-wrapper {
    text-align: center;
    position: relative;
}

.movie-poster-container{
    position: relative; 
    max-width: 1100px;       
    margin: 20px auto 40px;
    text-align: center;
}

.movie-poster {
    width: 80%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
}

.movie-review {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.movie-review-Htext {
    color: yellow;
    max-width: 700px;
}

.photo-movie {
    border-radius: 18px;
    display: block;
}

.movie-review-text {
    max-width: 700px;
}

.movie-review-text p {
    line-height: 1.6;
    font-size: 16px;
    text-align: center;
}

.play-btn {
    position: absolute;
    bottom: 25px;                  /*กลับมาแก้ห้ามนำไปใข้ตัวทดลอง */
    left: 60%;                   
    transform: translateX(-50%); 
    background: rgba(0,0,0,0.6);
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 16px;
}

.trailer-overlay {
    position: absolute;
    bottom: 40px;
    right: 60px; 
    width: 320px;
    border-radius: 12px;
    overflow: hidden;
}

.trailer-video {
    width: 100%;
    display: block;
}

