@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #34025e;
}

.hear {
    font-size: 30px;
    border-left: 0.3rem solid yellow;
    font-weight: 600;
}

.hear span {
    color: aliceblue;
    margin-left: 5px;
}

.contener {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 1500px;
    margin: 50px auto;
    padding: 20px;
}

.movelist {
    display: flex;
    gap: 12px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 12px;
}

.info {
    padding: 0.5rem;
}

.move {
    background-color: #313131;
    overflow: hidden;
    border-radius: 10px;
    min-width: 150px;
    flex:0 0 auto;
}

.btn {
    background-color: rgba(46, 45, 45, 0.868);
    width: auto;
    height: auto;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    color: rgb(31, 142, 238);
    text-align: center;
    justify-content: center;
}

.btn button {
    border: none;
    color: rgb(31, 142, 238);
    background-color: transparent;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(28, 27, 27, 0.868);
}

.dtel {
    margin: 15px;
}

.btn-s {
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 0.9rem;
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.leout {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.reaing {
    gap: 20px;
    font-size: 16px;
    color: yellow;
    font-weight: 500;
}

.namemove {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.movelist::-webkit-scrollbar {
    height: 8px;
}
.movelist::-webkit-scrollbar-track {
    background: rgb(24, 23, 23);
}

.movelist::-webkit-scrollbar-thumb {
    background: #444;
}